/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Colour styles */
:root {
  --mustard: #ffdb58;
  --greyblue: #b8d8d8;
  --cadetgrey: #7a9e9f;
  --paynegrey: #4f6367;
  --bittersweet: #fe5f55;
}

/* Whole Document */
* {
  font-family: "Inter", sans-serif;
  color: white;
  /* display: flex; */
}
body {
  margin: 0;
}
::selection {
  background-color: var(--mustard);
  color: black;
}

/* Elements */
header {
  background-color: var(--paynegrey);
}
nav {
  background-color: var(--mustard);
  color: black;
}
nav a {
  text-decoration: none;
  color: black;
}
main {
  background-color: var(--cadetgrey);
}
section {
  background-color: var(--greyblue);
}
footer {
  background-color: var(--bittersweet);
}

/* Conditions */
nav > ::selection {
  background-color: var(--bittersweet);
  color: white;
}
a:hover {
  background-color: var(--greyblue);
}

/* Class */
.flex {
  display: flex;
  padding: 16px;
}
